.about-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}

.about-card {
  position: relative;
  display: block;
  border-radius: 40px;
  overflow: hidden;
  text-decoration: none;
}

.about-card__image {      
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.about-card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;      
  border-radius: 40px;    
  background-color: #fff;      
  transform: translateY(100%);
  transition: 0.2s ease-in-out;
}

.about-card:hover .about-card__overlay {
  transform: translateY(0);
}

.about-card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: 40px 0 0 0;    
  background-color: #fff;
  transform: translateY(-100%);
  transition: 0.2s ease-in-out;
}

.about-card:hover .about-card__header {
  transform: translateY(0);
}

.about-card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;      
  z-index: 1;
}

.about-card__arc path {
  fill: #fff;
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.about-card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;      
  border-radius: 50%;      
}

.about-card__title {
  font-size: 1em;
  margin: 0 0 .3em;
  color: #6A515E;
}

.about-card__status {
  font-size: .8em;
  color: #D7BDCA;
}

.about-card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #D7BDCA;
  font-family: "MockFlowFont";   
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
