@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    box-sizing: inherit;
    transition-property: all;
    transition-duration: .6s;
    transition-timing-function: ease;
  }

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    width: 100%;
    height: 100px;
    border-bottom: 0.3px solid black;
    margin-bottom: 50px;
}

.header-title{
    font-family: "Oswald", sans-serif;
    font-size: 40px;
    color : black;
    background: none;
    border-bottom: 1px solid;
    color: black;
    line-height: 1.4;
    padding: .25em;
    text-decoration: none;
    
    cursor: pointer;
    margin: 0 0 0.5rem;

    &:hover {
      color: #3b82f6;
    }
}

.header img{
    width: 60px;
    height: 60px;
    border-radius: 15px;
}

.header-btns{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-btn{
    font-family: "Oswald", sans-serif;
    background-color: transparent;
    border:none;
    font-size: 30px;
    padding-right: 15px;
    padding-left: 15px;
}
.header-btn:nth-child(even){
    border-left: 0.3px solid black;
}
.header-btn:hover{
    cursor: pointer;
    color: #3b82f6;
}


p {
    background: none;
    border-bottom: 1px solid;
    border-top: black 1px solid;
    color: black;
    line-height: 1.4;
    padding: .25em;
    text-decoration: none;
    
    &:hover {
      color: #3b82f6;
    }
  }



  .btn {
    color: black;
    cursor: pointer;
    display: block;
    font-size:16px;
    font-weight: 400;
    line-height: 35px;
    margin: 0 0 2em;
    max-width: 200px; 
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%; 
    
  @media(min-width: 400px) {
    display: inline-block;
       margin-right: 2.5em;
    
     &:nth-of-type(even) {
       margin-right: 0;
     }
   }
    
    @media(min-width: 600px) {
        
      margin: 0 1em 2em;
    
     &:nth-of-type(even) {
     margin-right: 2.5em;
   }
      
     &:nth-of-type(5) {
       margin-right: 0;
     }
      
    }
    
    &:hover { text-decoration: none; }
    
  }


  .btn-2 {
    letter-spacing: 0;
}

.btn-2:hover,
.btn-2:active {
  letter-spacing: 5px;
}

.btn-2:after,
.btn-2:before {
  backface-visibility: hidden;
  border: 1px solid rgba(#fff, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.btn-2:hover:after,
.btn-2:hover:before {
  backface-visibility: hidden;
  border-color: #fff;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.btn-2:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}