.snake-game-container {
    display: flex;
    margin-left: 20%;
  }
  
  .snake-canvas {
    border: 1px solid black;
  }
  
  .snake-menu {
    margin-left: 20px;
  
    button {
      display: block;
      margin-bottom: 10px;
      padding: 6px 12px;
      font-size: 14px;
      cursor: pointer;
    }
  
    label {
      display: block;
      margin-bottom: 10px;
      font-size: 14px;
  
      input[type="checkbox"],
      input[type="range"] {
        margin-left: 5px;
      }
    }
  
    .score {
      color: black;
      p {
        margin: 5px 0;
      }
      h3 {
        margin-top: 10px;
      }
    }
  }
  